.grid-bg {
  width: 100%;
  min-height: 100vh;
  background-color: #191a1a;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.grid-bg::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  --color: rgba(114, 114, 114, 0.3);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  filter: blur(1px);
  z-index: -1;
}

div-center {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

center-div {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

center-div {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

